<script type="text/html" id="ko-new-timelog">
    <form data-bind="submit:submitCreate">
        <div class="css-timelog-item">
            <div class="css-time-col-title inline">
                <input class="css-day-time" style="width: 95%" name="Title" />
            </div>
            <div class="css-time-col inline">
                <input class="css-day-time" name="HoursInMonday" />
            </div>
            <div class="css-time-col inline">
                <input class="css-day-time" name="HoursInTuesday" />
            </div>
            <div class="css-time-col inline">
                <input class="css-day-time" name="HoursInWednesday" />
            </div>
            <div class="css-time-col inline">
                <input class="css-day-time" name="HoursInThursday" />
            </div>
            <div class="css-time-col inline">
                <input class="css-day-time" name="HoursInFriday" />
            </div>
            <div class="css-time-col inline">
                <input class="css-day-time" name="HoursInSaturday" />
            </div>
            <div class="css-time-col inline">
                <input class="css-day-time" name="HoursInSunday" />
            </div>
            <div class="css-time-col-btn inline">
                <input class="inline formbutton" type="submit" value="Save" />
                <a href="#" class="inline" data-bind="event: {click: function(){ isCreateOpen(false); clean(); }}">Cancel</a>
            </div>
        </div>
    </form>
</script>