<script type="text/html" id='ko-timelogs'>
    <div>
        <div class="inline css-time-col-title"><span class="css-time-log-title"><b>Title</b></span></div>
        <!--ko foreach: $parent.days-->
        <div class="css-time-col inline">
            <span class="css-time-log-title"><b data-bind="text:$data"></b></span>
        </div>
        <!--/ko-->
    </div>
    <!--ko foreach: $data -->
    <div class="css-timelog-item">
        <div class="css-time-col-title inline">
            <span class="css-day-time" style="width: 95%" data-bind="text:Title"></span>
        </div>
        <div class="css-time-col inline">
            <span class="css-day-time" data-bind="text:HoursInMonday"></span>
        </div>
        <div class="css-time-col inline">
            <span class="css-day-time" data-bind="text:HoursInTuesday"></span>
        </div>
        <div class="css-time-col inline">
            <span class="css-day-time" data-bind="text:HoursInWednesday"></span>
        </div>
        <div class="css-time-col inline">
            <span class="css-day-time" data-bind="text:HoursInThursday"></span>
        </div>
        <div class="css-time-col inline">
            <span class="css-day-time" data-bind="text:HoursInFriday"></span>
        </div>
        <div class="css-time-col inline">
            <span class="css-day-time" data-bind="text:HoursInSaturday"></span>
        </div>
        <div class="css-time-col inline">
            <span class="css-day-time" data-bind="text:HoursInSunday"></span>
        </div>
        <div class="css-time-col-btn inline">
            <a class="inline" data-bind="attr: { href: '/Task/Index/'}">Edit</a>
            <a class="inline" href="#" data-bind="event: { click: function(){ $parents[1].openDelete({id: Id, title:Title})}}">Delete</a>
        </div>
    </div>
    <!--/ko-->
    <!--ko template: {name: 'ko-new-timelog', if: $parent.isCreateOpen, data:$parent }-->
    <!--/ko-->
</script>