<header>
    <h1>@Html.ActionLink("your logo here", "About", "Home")</h1>
    <div class="clear"></div>
    @if (Request.IsAuthenticated)
    {
        <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>
    }
</header>
@if (Request.IsAuthenticated)
{
    @RenderPage(string.Format("Navigation\\Navigation_{0}.cshtml", Roles.GetRolesForUser(User.Identity.Name).FirstOrDefault()))
}

