<header>
    <h1 class="inline">@Html.ActionLink("PMS", "About", "Home")</h1>
    @if (Request.IsAuthenticated)
    {
        <div class="inline right">
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a class="right" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </div>
    }
</header>
@if (Request.IsAuthenticated)
{
    @RenderPage(string.Format("Navigation\\Navigation_{0}.cshtml", Roles.GetRolesForUser(User.Identity.Name).FirstOrDefault()))
}

