<nav>
    <ul>
        <li class="start js-menu-profile">@Html.ActionLink("Profile", "Profile", "User", new { login = User.Identity.Name }, null)</li>
        <li class="js-menu-projects">@Html.ActionLink("Projects", "Index", "Project")</li>
        <li class="js-menu-timelogs">@Html.ActionLink("Time Logs", "Index", "TimeLog")</li>
        <li class="end js-menu-users">@Html.ActionLink("Users", "Index", "User")</li>
    </ul>
</nav>
