<nav>
    <ul>
        <li class="start js-menu-projects">@Html.ActionLink("Projects", "Index", "Project")</li>
        <li class="end js-menu-users">@Html.ActionLink("Users", "Index", "User")</li>
    </ul>
</nav>