<nav>
    <ul>
        <li class="start">@Html.ActionLink("Profile", "Profile", "User", new { login = User.Identity.Name }, null)</li>
        <li>@Html.ActionLink("Projects", "Index", "Project")</li>
        <li>@Html.ActionLink("Time Logs", "Index", "TimeLog")</li>
        <li class="end">@Html.ActionLink("Users", "Index", "User")</li>
    </ul>
</nav>