<script type="text/html" id="ko-createUser">
    <div class="css-link">
        <a data-bind="event: { click: function(){isCreateOpen(false);}}">Back</a>
    </div>

    <fieldset class="createForm">
        <legend>User</legend>
        <label class="error" data-bind="text: errorMsg"></label>
        <form enctype="multipart/form-data" id="createForm" data-bind="submit: submitCreate">
            <p>
                <label for="FirstName">First Name</label>
                <input id="FirstName" name="FirstName" type="text" value="" />
            </p>
            <p>
                <label for="LastName">Last Name</label>
                <input name="LastName" type="text" value="" />
            </p>
            <p>
                <label for="Login">Login</label>
                <input id="Login" name="Login" type="text" value="" />
            </p>
            <p>
                <label for="Password">Password</label>
                <input id="Password" name="Password" type="password" value="" />
            </p>
            <p>
                <label for="ConfirmPassword">Confirm password</label>
                <input id="ConfirmPassword" name="ConfirmPassword" type="password" value="" />
            </p>
            <p>
                <label for="Email">Email</label>
                <input id="Email" name="Email" type="text" value="" />
            </p>
            <p>
                <label for="Birthday">Birthday</label>
                <input type="text" id="Birthday" name="Birthday" readonly="readonly">
            </p>
            <p>
                <label for="Phone">Phone</label>
                <input id="Phone" name="Phone" type="text" value="" />
            </p>
            <p>
                <label for="Skype">Skype</label>
                <input id="Skype" name="Skype" type="text" value="" />
            </p>
            <p>
                <label for="Role">Role</label>
                <select id="Role" name="Role" data-bind="options: roles, optionsText: 'roleName', optionsValue: 'roleId'"></select>
            </p>
            <p>

                <label for="Avatar">Add Avatar</label>
                <input id="Avatar" name="Avatar" type="file" value="" />
                <label class="fileErrorlabel"></label>
            </p>
            <p>
                <input type="submit" value="Create" class="formbutton" />
            </p>
        </form>
    </fieldset>
</script>